.about-us {
  padding: 360px 0 0;

  @media screen and (max-width: 1024px) {
    padding: 360px 20px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 170px 20px 0;
  }

  &__wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__title {
    font-size: 72px;
    font-weight: 600;
    line-height: 80px;
    margin: 0;
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 42px;
      line-height: 46px;
    }
  }

  &__title-italic {
    font-style: italic;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 0 0;
    padding: 0;
    list-style: none;
    text-align: center;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 50px;
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__heading {
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    margin: 20px 0 0;

    @media screen and (max-width: 1024px) {
      font-size: 24px;
      line-height: 26px;
    }
  }

  &__paragraph {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px auto 0;
    max-width: 420px;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
