.app {
  padding: 200px 0 0;

  @media screen and (max-width: 1024px) {
    padding: 200px 20px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 70px 20px 0;
  }

  &__wrapper {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;

    @media screen and (max-width: 1024px) {
      justify-content: space-between;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__image {
    display: block;
    max-width: 950px;
    width: 100%;
    object-fit: cover;

    @media screen and (max-width: 1024px) {
      max-width: 512px;
    }

    @media screen and (max-width: 768px) {
      max-width: 350px;
    }
  }

  &__list-container {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__step-list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (max-width: 768px) {
      margin: 30px 0 0;
    }
  }

  &__step-list-item {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 30px;

    &:nth-child(1) {
      margin-top: 0;
    }

    @media screen and (max-width: 1024px) {
      margin: 0;
    }

    @media screen and (max-width: 768px) {
      margin: 25px 0 0;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    max-width: 300px;
    margin: 0;

    @media screen and (max-width: 1024px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__number {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.5;

    @media screen and (max-width: 1024px) {
      font-size: 42px;
    }
  }

  &__link-list {
    display: flex;
    margin: 56px 0 0;
    padding: 0;
    list-style: none;
    gap: 14px;

    @media screen and (max-width: 768px) {
      margin: 10px 0 0;
    }
  }

  &__icon {
    display: block;
    max-width: 142px;

    @media screen and (max-width: 1024px) {
      max-width: 122px;
    }
  }
}
