.delivery {
  padding: 200px 0 0;

  @media screen and (max-width: 1024px) {
    padding: 200px 20px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 150px 20px 0;
  }

  &__wrapper {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
  }

  &__iframe {
    border-radius: 16px;
    border: none;

    @media screen and (max-width: 768px) {
      height: 300px;
    }
  }

  &__text {
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    margin: 0;

    @media screen and (max-width: 768px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__text-italic {
    font-style: italic;
    color: #77c043;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  &__icon-arrow {
    position: absolute;
    top: -12%;
    right: 16px;
    display: block;
    max-width: 294px;
    z-index: 12;

    @media screen and (max-width: 768px) {
      top: -16%;
      right: 0;
      max-width: 210px;
    }
  }
}
