.footer {
  padding: 200px 0 0;

  @media screen and (max-width: 1280px) {
    padding: 150px 0 0;
  }

  &__wrapper {
    background-color: #fff;
    padding: 0 0 72px;

    @media screen and (max-width: 1280px) {
      padding: 0 20px 52px;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
    max-width: 1400px;
    margin: 0 auto;

    @media screen and (max-width: 425px) {
      flex-direction: column;
      padding: 32px 0 0;
      gap: 50px;
    }
  }

  &__logo {
    max-width: 120px;
  }

  &__icons-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 10px;
  }

  &__icons-img {
    display: block;
    max-width: 44px;
  }

  &__columns {
    max-width: 1400px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      padding: 32px 0;
      flex-direction: column;
    }
  }

  &__column {
    display: flex;

    @media screen and (max-width: 425px) {
      flex-direction: column;
      gap: 32px;
    }
  }

  &__column-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    max-width: 330px;
    margin: 0;

    @media screen and (max-width: 768px) {
      font-size: 42px;
      line-height: 42px;
    }
  }

  &__column-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    max-width: 330px;
    margin: 0;
  }

  &__column-span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #94959b;
    margin: 0 0 6px;
  }

  &__column-link {
    color: #000;
    text-decoration: none;
  }

  &__copyright {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #94959b;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 72px 0 0;

    @media screen and (max-width: 425px) {
      flex-direction: column;
      align-items: flex-start;
      margin: 32px 0 0;
      gap: 32px;
    }
  }

  &__links-wrapper {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 425px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__link {
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #94959b;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  &__app-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 8px;
  }

  &__app-icon {
    display: block;
    max-width: 130px;

    @media screen and (max-width: 425px) {
      max-width: 120px;
    }

    @media screen and (max-width: 375px) {
      max-width: 94px;
    }
  }
}
