.lead {
  padding: 90px 0 0;

  @media screen and (max-width: 1024px) {
    padding: 50px 20px 0;
  }

  &__wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__title {
    font-size: 90px;
    font-weight: 600;
    line-height: 100px;
    margin: 0;

    @media screen and (max-width: 1024px) {
      font-size: 72px;
      line-height: 78px;
    }

    @media screen and (max-width: 768px) {
      font-size: 42px;
      line-height: 46px;
    }

    @media screen and (max-width: 320px) {
      font-size: 36px;
      line-height: 40px;
    }
  }

  &__title-italic {
    font-style: italic;
  }

  &__title-green {
    color: #77c043;
  }

  &__icon {
    display: block;
    max-width: 45px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0;
  }

  &__text {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;

    &:nth-last-of-type(1) {
      margin: 22px 0 0;
    }

    @media screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__image {
    display: block;
    max-width: 420px;
    margin-top: -134px;

    @media screen and (max-width: 1024px) {
      max-width: 360px;
      margin-top: -100px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__app-list {
    position: relative;
    display: flex;
    margin: 38px 0 0;
    padding: 0;
    list-style: none;
    gap: 8px;

    &::before {
      content: "";
      position: absolute;
      top: -100px;
      left: 150px;
      background-image: url("https://www.technodom.kz/under/airba-fresh/images/download-app-arrow.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 330px;
      height: 90px;

      @media screen and (max-width: 768px) {
        top: -80px;
        left: 100px;
        width: 238px;
        height: 65px;
      }

      @media screen and (max-width: 320px) {
        left: 50px;
      }
    }

    @media screen and (max-width: 768px) {
      margin: 86px 0 0;
    }
  }

  &__app-icon {
    display: block;
    max-width: 168px;

    @media screen and (max-width: 425px) {
      max-width: 120px;
    }
  }
}
