.quote {
  &__wrapper {
    position: relative;
    padding: 215px 0 0;

    @media screen and (max-width: 768px) {
      padding: 36px 0 0;
    }
  }

  &__picture {
    position: relative;
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__text-container {
    position: absolute;
    max-width: 1400px;
    width: 100%;
    left: 0;
    bottom: 82px;
    margin: 0 auto;
    z-index: 2;

    @media screen and (max-width: 425px) {
      bottom: 56px;
    }
  }

  &__text {
    font-size: 32px;
    font-style: italic;
    font-weight: 500;
    line-height: 44px;
    color: #fff;
    max-width: 715px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 425px) {
      font-size: 18px;
      line-height: 22px;
      max-width: 305px;
    }

    &::before {
      content: "";
      display: block;
      background-image: url("https://www.technodom.kz/under/airba-fresh/images/quote-icon.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 60px;
      height: 54px;
      margin-bottom: 30px;

      @media screen and (max-width: 425px) {
        width: 40px;
        height: 35px;
        margin-bottom: 20px;
      }
    }
  }
}
